<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="style/first-page.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="Javascript/login.js"></script>
        <title>Pig Game</title>
    </head>

    <body ng-controller="mainController" ng-app="Myapp">
        <div class="wrapper clearfix">
           <div class="welcomeTitle">
                <div class="title" id="name-0">Welcome to Our Dice Game</div>
            </div>


             <div><a href="/game-page"><button class="btn-new-game" href="/game-page" >NEW GAME</button></a></div>
             <div><a href="/rules"><button class="btn-rules"  >RULES</button></a></div>
       
        </div>
       
         
        <!--<script src="challenges.js"></script>-->
        <!-- <script src="challenges.js"></script> -->
    </body>
</html>