<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="style/reg.css">
        
        
        
        <title>Pig Game</title>
       
    </head>

    <body > 
        <div class="wrapper clearfix">
           <div class="welcomeTitle">
                <div class="title" id="titlename">Registration</div>
            </div>

           
            <form action="/register" id="register" method="POST">
                <div class="firstName form-list">
                    <div class="player-name" id="name-0">First Name</div>
                    <input type="text" class="player-0-name" name="firstName">
                </div>
                <div class="Last Name form-list">
                    <div class="player-name" id="name-0">Last name</div>
                    <input type="text" class="player-0-name" name="lastName">
                </div>
                <div class="Email form-list">
                    <div class="player-name" id="name-0">Email</div>
                    <input type="email" class="player-0-name" name="email">
                </div>
                <div class="Password form-list">
                    <div class="player-name" id="name-0">Password</div>
                    <input type="password" class="player-0-name" name="password">
                </div>
                <div class="Password form-list">
                    <div class="player-name" id="name-0">Confirm Password</div>
                    <input type="password" class="player-0-name" name="confirmPassword">
                </div>
                <button class="btn-start-game" name="submitDetails" type="submit">Register</button>
            </form>
            

            
        </form>
        </div>
     
        
    </body>
</html> 