* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../../img/back.jpg);

    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 850px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}



.title{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    color:#EB4D4D;
    font-weight: bold;
}

ul{
    margin-top: 10px;

    width: 90%;
    line-height: 45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    
    list-style-type: disc;
    padding-left: 50px;
    list-style-position: outside;
    margin-left: 30px;

    
}